@import './mixins';

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1598px;

  @include desktop() {
    padding: 0;
  }
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-montserrat);
}
